/* styling header */
*{
    font-family: sans-serif;
}

.header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.large{
    font-size: 60px;
    color: white;
}

.contain{
    text-align: right;
    padding: 170px 450px 200px 1000px;
}

.btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
    background: #0a9cfd;
}

.btn:hover {background-color: #0075fa}

.btn:active {
  background-color: #0075fa;
  transform: translateY(4px);
}

.para{
    padding-bottom: 30px;
    color: white;
}

/* styling failures section */

.ulist{
    list-style-image: url('../images/icons/check-solid.svg')
}

.medium{
    font-size: 50px;
    padding-bottom: 5px;
}

.contain2{
    display: flex;
    padding: 100px 100px 100px 250px;
}

.img{
    width: fit-content;
    height: fit-content;
}

.contain3{
    padding: 100px 100px 100px 100px;
    text-align: left;
}

.para2{
    padding-bottom: 10px;
}

.list{
    padding-bottom: 10px;
}

/* styling plans section */

.ulist2{
    display: flex;
    list-style: none;
}

.large2{
    font-size: 40px;
    text-align: center;
}

.contain6{
    padding: 50px 120px 120px 0px;
    text-align: center;
}

.contain5{
    padding-left: 300px;
}

.medium2{
    font-size: 35px;
}

.para3{
    font-size: 25px;
}

/* styling gradient */

.contain7{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    padding-left: 100px;
}

.contain8{
    padding: 20px 40px 30px 90px;
}

.large3{
    font-size: 50px;
    color: white;
    padding-left: 250px;
}

.contain8>button{
    margin-left: 250px;
}